:root {
    --font: #242121;

    --wihte: #fefefe;
    --black: #232323;

    --gray-30: #cfcfcf;
    --gray-50: #afafaf;
    --gray-60: #919191;
    --gray-70: #646464;
    --gray-80: #595959;
    --gray-90: #3b3b3b;
    
    --transparent-bk: #32323255;
    --transparent-bk-select: #54545455;

    --green: #C8E4C8;
    --blue: #D4E6F1;
    --purple: #DAD0D8;
    --orange: #FFD3B5;
    --pink: #F8CAC6;
    --yellow: #FCE79E;
    --red: #ffaaba; 

    --principal-LG:  linear-gradient(215deg, #5481db 0%, #7a49ca 100%);
    --secundary-LG:  linear-gradient(215deg, #4994da 0%, #a057d8 100%);

}

* {
    font-family:sans-serif;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.none  {display: none;}
.title-h1 {
    font-size: 40px;
    font-weight: 600;
    color: var(--wihte);
}
.title-h2 {
    font-size: 28px;
    font-weight: 600;
    color: var(--wihte);
}
.subtitle {
    font-size: 20px;
    color: var(--wihte);
}
.content{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: var(--wihte);
}
.icon {
    width: 30px;
    height: 30px;
}
.principal-input {
    padding: 0 10px 0 10px;
    border-radius: 20px;
    color: var(--gray-30);
    background-color: var(--gray-70);
    border: 2px solid var(--gray-60);
}
.done-button {
    justify-self: center;
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: var(--principal-LG);
    color: var(--wihte);
    transition: background .6s;
}
.done-button:hover {
    background: var(--secundary-LG);
}

.overlay-bkg {
    display: grid;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--transparent-bk);
    backdrop-filter: blur(2px);
    animation-duration: 300ms;
    animation-fill-mode:forwards;
}
.cardsCounter{
    font-size: 28px;
    font-weight: bold;
}
.flip-vertical-right {
	animation: flip-vertical-right 0.4s ease-in-out both;
}
.flip-vertical-left {
	animation: flip-vertical-left  0.4s ease-in-out both;
}
#body {
    overflow: hidden;
}


#main {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    background-color: var(--font);
}

.presentation-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.presentation-container .subtitle{
    margin: 40px 0 80px 0;
}

#createCardButton {
    width: 80vw;
    height: 100px;
    border-radius: 5px;
    border: 2px solid var(--gray-30);
    background-color: var(--transparent-bk);
}

#createCardButton:hover {
    background-color: var(--transparent-bk-select);
}

.overlay-album {
    justify-self: center;
    display: grid;
    grid-template-rows: 60px 1fr 80px;
    position: fixed;
    bottom: -300px;
    width: 80vw;
    list-style: none;
    border: 2px solid var(--gray-50);
    border-radius:10px ;
    background-color: var(--gray-90) ;
    animation-name: move-in;
    animation-duration: 300ms;
    animation-fill-mode:forwards;
}
.move-out {
    animation-name: move-out;
    animation-duration: 300ms;
    animation-fill-mode:forwards;
}



.title-AC {
    text-align: center;
    margin-top: 15px;
}
.AC-inputs-container {
    display: grid;
    grid-template-rows: 30px 1fr;
}
.AC-inputs-container p {
    margin-left: 20px ;
}
.AC-input {
    justify-self: center;
    width: 90%;
    height: 50px;
}

.button-AC {
    align-self: center;
}

.library {
    display: grid;
    gap: 20px;
    justify-content: center;
    list-style: none;
}
.album {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 80vw;
    height: 100px;
    border-radius: 5px;
    border: 2px solid var(--gray-30);
    color: var(--gray-30);
}
.album h4{
    margin-left: 20px ;
}
.album img{
    position: absolute;
    top: 10px;
    right: 10px;
}
.albumCounter {
    margin-right: 40px;
    font-size: 28px;
    font-weight: bold;
}

.album:hover {
    opacity: .8;
}




.albumPage {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    z-index: 10;
    overflow-y: hidden;
}

.albumSlideHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50px;
    padding: 20px;
}
.albumSlideHeader .headerSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

}



.flashCardsContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}
.newFlashCardButton {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 300px;
    margin-top: 50px;
    background-color: var(--gray-90);
    border: 2px solid var(--gray-70);
    border-radius: 10px;
}
.newFlashCardButton:hover {
    background-color: var(--transparent-bk-select);
}




.flashCardCreatorPage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 500px;
    background: var(--black) ;
    color: var(--wihte);
    z-index: 20;
}
.FCCreatorHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}
.flashCardCreatorPage form {

    margin: 50px;
}
.inputFCCretor {
    box-sizing:border-box;
    height: 100px;
    width: 100%;
    margin:10px 0 25px 0;
    border-radius: 10px;
    border: 2px solid var(--gray-60); 
    background-color: var(--gray-90);  
    color: var(--wihte); 
    padding: 15px;
}
.saveAnimation {
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -120px;
    right: 12px;
    height: 80px;
    width: 80px;
    background-color: greenyellow;
    border-radius: 50%;
    animation-name: slide-in-out;
    animation-duration: 1700ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode:forwards;
}




.flashCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin-top: 20px;
    width: 80%;
    height: 320px;
    border-radius: 10px;
    color: var(--wihte);
    border: 2px solid var(--gray-70);
    background-color: var(--gray-90);
}
.flashCard-invert {
    transform: rotateY(180deg);
}
.flashCard-fadeIn{
    animation: fadeIn 0.4s ease-in-out both;
}
.flashCard img{
    position: absolute;
    bottom: 40px;
    padding: 10px;
    background-color: var(--gray-70);
    border: 2px solid var(--gray-50);
    border-radius: 50%;
}
.flashCard img:hover{
    background-color: var(--gray-90);
}
.WoRbutton {
    margin: 30px 10px;
    width: 40%;
    height: 60px;
    border-radius: 8px;
    border: 2px solid var(--gray-70);
}
.buttonWrong{
    background-color: var(--pink);
}
.buttonRight{
    background-color: var(--green);
}



.resultsPage{
    justify-self: center;
    width: 60vw;
    height: 280px;
    margin-top: 50px;
    padding: 20px ;
    border-radius: 20px;
    border: 2px solid var(--gray-70);
    color: var(--wihte);
}
.resultsPage h2{
    margin:0 0 40px 15px;
}
.resultsPage p{
    font-weight: bold;
    margin-bottom: 30px;
}
.resultsPage button{
    margin-top: 10px;
    font-size: 15px;
    width: 100%;
}


@keyframes move-in {
    from {
    }
    to{
        bottom: 0px;
    }
}
@keyframes move-out {
    from {
        bottom: -10px;
    }
    to{
        bottom: -350px;
    }
}
@keyframes slide-in-out {
    0% {}
    30% {
        bottom: 0;
    }
    80% {
        bottom: 0;
    }
    100% {
        bottom: -130px;
    }
}  
@keyframes flip-vertical-right {
  0% {
    transform: translateX(0) rotateY(0);
    transform-origin: 100% 50%;
    background-color: var(--gray-90);
  }
  100% {
    transform: translateX(100%) rotateY(-180deg);
    transform-origin: 0% 50%;
    background-color: var(--gray-80);
  }
}
@keyframes flip-vertical-left {
    0% {
        transform: translateX(0) rotateY(0);
        transform-origin: 0% 50%;
        background-color: var(--gray-80);
      }
      100% {
        transform: translateX(-100%) rotateY(-180deg);
        transform-origin: 100% 0%;
        background-color: var(--gray-90);
      }
    
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }